body{

    background-color: #061120;
}

.contact-container {
    background-color: #1d344d; /* Bleu foncé pour l'arrière-plan */
    max-width: 600px;
    margin: 120px auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.contact-container h1 {
    color: #ffffff; /* Bleu clair pour les titres */
    margin-bottom: 30px;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form .form-control {
    width: 100%; 
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #555;
    background-color: #4a5d71; /* Bleu plus foncé pour les champs de formulaire */
    color: #ddd; /* Texte clair */
}

.contact-form .form-control::placeholder {
    color: #bbb; 
}

.contact-form textarea.form-control {
    height: 120px; 
    resize: none; 
}

.btn-contact {
    background-color: #007bff; /* Bleu clair pour le bouton */
    color: white; /* Texte blanc */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-contact:hover {
    background-color: #0056b3; /* Bleu plus foncé au survol */
}
